---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href={import.meta.env.BASE_URL}>{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">ホーム</HeaderLink>
			<HeaderLink href="/blog">ブログ</HeaderLink>
			<HeaderLink href="/about">このサイトについて</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://twitter.com/" target="_blank">
				<span class="sr-only">Xをフォロー</span>
				<svg viewBox="0 0 24 24" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-4.714-6.231-5.401 6.231H2.744l7.73-8.835L1.254 2.25H8.08l4.253 5.622 5.911-5.622zm-1.161 17.52h1.833L7.084 4.126H5.117z"
					></path></svg
				>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
		nav {
			flex-wrap: wrap;
			gap: 0.25em;
		}
		nav a {
			padding: 0.75em 0.4em;
			font-size: 0.9em;
		}
	}
</style>
